In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import tensorflow as tf, keras
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold,cross_val_score
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder,LabelEncoder,StandardScaler
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay,accuracy_score
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

2024-09-03 16:53:26.096624: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-09-03 16:53:26.130797: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-09-03 16:53:26.139633: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-09-03 16:53:27.923147: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
from sklearn.datasets import load_iris
iris = load_iris()

In [3]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [8]:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [4]:
iris.data[:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [5]:
iris.feature_names[:5]

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [6]:
iris.target[:5]

array([0, 0, 0, 0, 0])

In [7]:
iris.target_names[:5]

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [9]:
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [10]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [11]:
df['target'] = iris.target

In [12]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [16]:
# Logistic Regression
scores_1_lr = np.average(cross_val_score(LogisticRegression(max_iter=200),iris.data, iris.target, cv=6))
scores_1_lr

0.9666666666666667

In [18]:
# Support Vector Machine
scores_1_svm = np.average(cross_val_score(SVC(),iris.data, iris.target))
scores_1_svm

0.9666666666666666

In [19]:
scores_2_svm = np.average(cross_val_score(SVC(C=10),iris.data, iris.target))
scores_2_svm

0.9800000000000001

In [25]:
scores_3_svm = np.average(cross_val_score(SVC(C=30),iris.data, iris.target))
scores_3_svm

0.9733333333333334

In [33]:
scores_4_svm = np.average(cross_val_score(SVC(gamma=5),iris.data, iris.target))
scores_4_svm

0.9666666666666668

In [34]:
scores_5_svm = np.average(cross_val_score(SVC(kernel='linear'),iris.data, iris.target))
scores_5_svm

0.9800000000000001

In [35]:
scores_5_svm = np.average(cross_val_score(SVC(kernel='sigmoid'),iris.data, iris.target))
scores_5_svm

0.06666666666666667

In [36]:
scores_5_svm = np.average(cross_val_score(SVC(kernel='poly'),iris.data, iris.target))
scores_5_svm

0.9800000000000001

In [38]:
#Decision Tree
scores_1_dt = np.average(cross_val_score(DecisionTreeClassifier(),iris.data,iris.target))
scores_1_dt

0.9533333333333334

In [40]:
# Random Forest
scores_1_rf = np.average(cross_val_score(RandomForestClassifier(n_estimators=10),iris.data, iris.target))
scores_1_rf

0.9466666666666667

In [41]:
scores_2_rf = np.average(cross_val_score(RandomForestClassifier(n_estimators=25),iris.data, iris.target))
scores_2_rf

0.9666666666666668

In [42]:
scores_3_rf = np.average(cross_val_score(RandomForestClassifier(n_estimators=50),iris.data, iris.target))
scores_3_rf

0.9666666666666668

In [43]:
scores_4_rf = np.average(cross_val_score(RandomForestClassifier(n_estimators=100),iris.data, iris.target))
scores_4_rf

0.9533333333333334

In [44]:
scores_5_rf = np.average(cross_val_score(RandomForestClassifier(n_estimators=150),iris.data, iris.target))
scores_5_rf

0.96

In [45]:
scores_6_rf = np.average(cross_val_score(RandomForestClassifier(n_estimators=200),iris.data, iris.target))
scores_6_rf

0.9666666666666668