In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns

In [2]:
avg_death_data = pd.read_csv("avg_deaths.csv")
avg_death_data

    Month  New_deaths
0       1           0
1       2           0
2       3          77
3       4        1844
4       5        1448
5       6         785
6       7         769
7       8        1020
8       9         739
9      10         751
10     11        1225
11     12        2247